@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Quicksand:wght@300;400;500&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Quicksand', sans-serif; */

#home{
    font-family: 'Merriweather', serif;
    background-image: url('../img/bg-banner.jpg');
    
}
#authentication-modal{
    font-family: 'Quicksand', sans-serif;
}