@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Quicksand:wght@300;400;500&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Quicksand', sans-serif; */

#home{
    font-family: 'Merriweather', serif;
    background-image: url('../img/bg-banner.jpg');
    
}
#authentication-modal{
    font-family: 'Quicksand', sans-serif;
}
.article-content{
    font-family: 'Merriweather', serif;
}
#categorie-container::-webkit-scrollbar{
    display: none;
}
#categorie-container .active{
    border-bottom: 1px solid rgba(0, 0, 0, 0.77);
    color: rgba(0, 0, 0, 0.77);
}